#navbar {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  min-width: 0;
  height: 45px;
}

img {
  cursor: pointer;
}

#youtube {
  height: 72px;
  width: 100px;
  position: relative;
  bottom: 16px;
  right: 26px;
}

#hamburger {
  margin: 20px;
  position: relative;
  bottom: 22px;
  height: 16px;
}